@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /* --primary-color: rgb(0, 255, 170); */
    --primary-color: rgb(0, 185, 185);
    --primary-color-dark: rgb(0, 145, 150);
    /* --primary-color-dark: rgb(3, 182, 122); */
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color); /*para alterar a cor só em root*/
    font-family: 'Open sans', sans-serif; /*callback -> sans-serif*/
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
     /*vai se ajustando ao centro -> as laterais*/
    margin: 140px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(1, 64, 64, 0.5);
}

form input, form label, form button {
    display: block; /*cada um na sua linha*/
    width: 100%; /*estica os elementos*/
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-dark);
}

form button:active {
    background: red;
}

.paragrafo-resultado, .bad {
    /* background-color: aqua; */
    background-color: rgb(0, 255, 170);
    padding: 10px 20px;
}

.bad {
    background-color: rgb(253, 77, 86);
}